.wrapper {
    width: 700px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h2 {
    font: 700 16px "Inter";
    color: #232134;
  }